@{
    ViewBag.Title = "ProjectHunk | About";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>ProjectVault | About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="~/Content/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/line-icons.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/theme-aspirin.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="~/Scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  @*<div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>*@
			</div>
    	</div>
				
		@Html.Partial("_header")
        <div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="~/img/side3.jpg">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white alt-font"></span>
							<h1 class="text-white">About Me</h1>
							<p class="text-white lead">I'm a programmer by profession and by passion.</p><p class ="text-white lead">  </pclass>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>
			
			<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="feature">
								<h5>Features</h5>
								<p>
									You can exibhit your work here and can also get ideas for your future projects. you can also get help from our users for those projects. we deal in 5 different categories here.
								</p>
							</div>
						</div><!--end 4 col-->
					
						<div class="col-sm-4">
							<div class="feature">
								<h5>Project categories</h5>
                                <ol>
                                    <li>Desktop applications</li>
                                    <li>Website development</li>
                                    <li>Mechanical projects</li>
                                    <li>Chemical projects</li>
                                    <li>Fashion designing</li>
                                </ol>
								@*<p>
									Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
								</p>*@
							</div>
						</div><!--end 4 col-->
					
						<div class="col-sm-4">
							<div class="feature">
								<h5>Our uniqueness</h5>
                                <ol>
                                    <li>Free registration</li>
                                    <li>Easy to upload</li>
                                    <li>User friendly websites</li>
                                </ol>
                                
								@*<p>
									Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
								</p>*@
							</div>
						</div><!--end 4 col-->
					</div><!--end of row-->
				</div>
			</section>
			
			
			<section class="team-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Developed by</h1>
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-8">
							<div class="team-2-member">
								<div class="image-holder">
									<img alt="Team Member" class="background-image" src="~/img/hamza.png">
									<div class="hover-state">
										<ul class="social-icons align-vertical">
											<li>
												<a href="#">
													<i class="icon social_facebook"></i>
												</a>
											</li>
								
											<li>
												<a href="#">
													<i class="icon social_twitter"></i>
												</a>
											</li>
								
											<li>
												<a href="#">
													<i class="icon social_dribbble"></i>
												</a>
											</li>
										</ul>	
									</div>
								</div>
								<span class="name">Ameer Hamza </span>
								<p>
                                    An Artist Since Birth & A Developer Till Death ! 
                        </p>
							</div>
						</div>
					</div><!--end of row-->
					
					
				</div><!--end of container-->
			</section>
			
			
			
			<section class="clients">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p class="lead">Some awesome companies we've had the pleasure to work with</p>
						</div>
					</div><!--end of row-->
					
					<div class="row client-row">
						<div class="row-wrapper">
							<div class="col-sm-3 text-center">
								<img alt="client" src="~/img/client4.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="~/img/client2.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="~/img/client3.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="~/img/client1.png">
							</div>
						</div>
					</div><!--end of row-->
					
					<div class="row client-row">
						<div class="row-wrapper">
							<div class="col-sm-3 text-center">
								<img alt="client" src="~/img/client5.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="~/img/client6.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="~/img/client7.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="~/img/client8.png">
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
		</div>
		<div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2014 Pivot Inc.</span>
							<span class="text-white"><a href="#">hello@pivot.net</a></span>
							<span class="text-white">+614 3827 492</span>
							<span class="text-white">300 Collins St. Melbourne 3000</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
                        <a href="~/Home/login" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>
				
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.plugin.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.flexslider-min.js"></script>
        <script src="~/Scripts/smooth-scroll.min.js"></script>
        <script src="~/Scripts/skrollr.min.js"></script>
        <script src="~/Scripts/spectragram.min.js"></script>
        <script src="~/Scripts/scrollReveal.min.js"></script>
        <script src="~/Scripts/isotope.min.js"></script>
        <script src="~/Scripts/twitterFetcher_v10_min.js"></script>
        <script src="~/Scripts/lightbox.min.js"></script>
        <script src="~/Scripts/jquery.countdown.min.js"></script>
        <script src="~/Scripts/scripts.js"></script>
    </body>
</html>
				